@font-face {
 font-family: 'ReneBiederGalanoGrotesqueAltSemiBold';
 src: url('../fonts/ReneBiederGalanoGrotesqueAltSemiBold.eot') format('embedded-opentype'),
         url('../fonts/ReneBiederGalanoGrotesqueAltSemiBold.woff2') format('woff2'),
         url('../fonts/ReneBiederGalanoGrotesqueAltSemiBold.woff') format('woff'),
         url('../fonts/ReneBiederGalanoGrotesqueAltSemiBold.ttf') format('truetype'),
         url('../fonts/ReneBiederGalanoGrotesqueAltSemiBold.svg#ReneBiederGalanoGrotesqueAltSemiBold') format('svg');
}

@font-face {
 font-family: 'ReneBiederGalanoGrotesqueAltMedium';
 src: url('../fonts/ReneBiederGalanoGrotesqueAltMedium.eot') format('embedded-opentype'),
         url('../fonts/ReneBiederGalanoGrotesqueAltMedium.woff2') format('woff2'),
         url('../fonts/ReneBiederGalanoGrotesqueAltMedium.woff') format('woff'),
         url('../fonts/ReneBiederGalanoGrotesqueAltMedium.ttf') format('truetype'),
         url('../fonts/ReneBiederGalanoGrotesqueAltMedium.svg#ReneBiederGalanoGrotesqueAltMedium') format('svg');
}

@font-face {
 font-family: 'ReneBiederGalanoGrotesqueAltBold';
 src: url('../fonts/ReneBiederGalanoGrotesqueAltBold.eot') format('embedded-opentype'),
         url('../fonts/ReneBiederGalanoGrotesqueAltBold.woff2') format('woff2'),
         url('../fonts/ReneBiederGalanoGrotesqueAltBold.woff') format('woff'),
         url('../fonts/ReneBiederGalanoGrotesqueAltBold.ttf') format('truetype'),
         url('../fonts/ReneBiederGalanoGrotesqueAltBold.svg#ReneBiederGalanoGrotesqueAltBold') format('svg');
}

@font-face {
 font-family: 'ReneBiederGalanoGrotesqueAltLight';
 src: url('../fonts/ReneBiederGalanoGrotesqueAltLight.eot') format('embedded-opentype'),
         url('../fonts/ReneBiederGalanoGrotesqueAltLight.woff2') format('woff2'),
         url('../fonts/ReneBiederGalanoGrotesqueAltLight.woff') format('woff'),
         url('../fonts/ReneBiederGalanoGrotesqueAltLight.ttf') format('truetype'),
         url('../fonts/ReneBiederGalanoGrotesqueAltLight.svg#ReneBiederGalanoGrotesqueAltLight') format('svg');
}
@font-face {
 font-family: 'ReneBiederGalanoGrotesqueAlt';
 src: url('../fonts/ReneBiederGalanoGrotesqueAlt.eot') format('embedded-opentype'),
         url('../fonts/ReneBiederGalanoGrotesqueAlt.woff2') format('woff2'),
         url('../fonts/ReneBiederGalanoGrotesqueAlt.woff') format('woff'),
         url('../fonts/ReneBiederGalanoGrotesqueAlt.ttf') format('truetype'),
         url('../fonts/ReneBiederGalanoGrotesqueAlt.svg#ReneBiederGalanoGrotesqueAlt') format('svg');
}


