form
	label.flex
		display flex
		align-items center
		input[type=checkbox]
		input[type=radius]
			margin-right 8px
			font-size 12px
	.message
		text-align center
		padding 8px
		border 1px danger-1 dotted
		radius(3px)
		font-size 12px
		color danger-1
		font-weight 500
	.message-success
		text-align center
		padding 8px
		border 1px success-1 dotted
		radius(3px)
		font-size 12px
		color success-1
		font-weight 500
	.back-link
		padding-top 20px
		display flex
		align-items center
		a
			color facilita-1 
			i
				font-size 14px
		a:hover
			text-decoration none
		

