.container
	max-width 1500px
	margin 0 auto
	padding 0 15px

.overflow-x
	overflow-x auto
	overflow-y hidden
.overflow-y
	overflow-y auto
	overflow-x hidden

.scroll-color::-webkit-scrollbar-track
.overflow-x::-webkit-scrollbar-track
.overflow-y::-webkit-scrollbar-track
	-webkit-box-shadow none
	-moz-box-shadow none
	box-shadow none
	background-color rgba(255,255,255,0.0)

.scroll-color::-webkit-scrollbar-thumb
.overflow-x::-webkit-scrollbar-thumb
.overflow-y::-webkit-scrollbar-thumb
	background-color #a9acbe
	border 0
	width 6px
	height 6px
	-webkit-border-radius 40px
	-moz-border-radius 40px
	border-radius 40px
.scroll-color::-webkit-scrollbar
.overflow-x::-webkit-scrollbar
.overflow-y::-webkit-scrollbar
	width 6px
	height 6px
	background-color rgba(255,255,255,0.0)
	-webkit-border-radius 40px
	-moz-border-radius 40px
	border-radius 40px

noscript
	width 100%
	border 1px #000 solid
.no-javascript
	padding 20px
	width 100%
	position relative
	background #a9acbe
	text-align center


button
    cursor pointer
    outline none !important
    
.responsive
	width 100%

.mt-0
	margin-top 0

.mt-5
	margin-top 5px

.mt-10
	margin-top 10px

.mt-15
	margin-top 15px

.mt-20
	margin-top 20px

.mt-25
	margin-top 25px

.mt-30
	margin-top 30px

.mb-0
	margin-bottom 0

.mb-5
	margin-bottom 5px

.mb-10
	margin-bottom 10px

.mb-15
	margin-bottom 15px

.mb-20
	margin-bottom 20px

.mb-25
	margin-bottom 25px

.mb-30
	margin-bottom 30px


.pt-0
	padding-top 0

.pt-5
	padding-top 5px

.pt-10
	padding-top 10px

.pt-15
	padding-top 15px

.pt-20
	padding-top 20px

.pt-25
	padding-top 25px

.pt-30
	padding-top 30px


.pb-0
	padding-bottom 0

.pb-5
	padding-bottom 5px

.pb-10
	padding-bottom 10px

.pb-15
	padding-bottom 15px

.pb-20
	padding-bottom 20px

.pb-25
	padding-bottom 25px

.pb-30
	padding-bottom 30px

.bt-0
	border-top 0 !important

.text-center
	text-align center
	
.circle
	radius(50%)

.rounded-xs
	radius(3px)

.rounded-ms
	radius(5px)

.rounded-md
	radius(8px)

.rounded-lg
	radius(10px)

.shadow-lg
	shadow(0px 0px 150px 0px rgba(161,165,188,0.3))

.shadow-md
	shadow(0px 0px 90px 0px rgba(161,165,188,0.2))

.w-600
	width 600px
.w-400
	width 400px

.w-400-center
	width 400px
	margin 0 auto

.text-s
	font-weight 500
.text-right
	text-align right

.line-b
	border-bottom 1px border solid

.line-t
	border-top 1px border solid

.overlay
	width 100%
	height 100%
	background rgba(100,100,150,0.1)
	position fixed
	z-index 99
	opacity 0
	top 0
	left 0

.disable
	opacity 0.5
	cursor not-allowed

.d-none
	display none !important

.no-border-top
	border-top 0 !important

.radius-top-5
	radiusmaster(5px, 5px, 0, 0)
	
.section-step
	display none

.section-step-center
	display none
	margin auto auto

.section-step.active
.section-step-center.active
	display block
	
.text-sm
	font-size 11px
	font-weight 400

.animated3s
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

.animated02s
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

.animated03s
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

.animated04s
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

.shadow-1
	shadow( 0 0 5px 0px rgba(50,50,80,0.1))
.shadow-2
	shadow( 0 0 10px 0 rgba(50,50,80,0.1))
.shadow-3
	shadow( 0 0 20px 0 rgba(50,50,80,0.1))




.list-default
	padding 0 0 0 15px
	margin 0
.list-numbers
	padding 0 0 0 15px
	margin 0 0 0 0 
	li:last-child
		margin-bottom 0
	li
		margin-bottom 15px
		ul
			padding-left 15px
			margin 0

.code-snipets::selection
	color #FFF
	background #5ac387
.code-snipets
	border 1px #E6E6F2 solid
	width 100%
	height 230px
	radius(5px)
	padding 30px
	background #f8f8ff
	color #4a586c


@media (max-width: 576px)
	.h-xs
		display none !important

@media (max-width: 768px)
	.h-sm
		display none !important
@media (max-width: 992px)
	.h-md
		display none !important
		
@media (max-width: 1200px)
	.h-lg
		display none !important
@media (max-width: 1366px)
	.h-xl
		display none !important
@media (max-width: 1400px)
	.h-xls
		display none !important




