@import reboot
@import base
@import functions 
@import helpers
@import form
@import fonts


body
html
	width 100%
	height 100%

*
	outline none


body
	font-size 12px
	background grey-light-2
	color #4A586C
	//color #3D495B
	
	overflow-x hidden

#app
	width 100%
	height 100%
	align-items center
	justify-content center

rotation(n)
	transform: rotate(n);

.no-scroll
	overflow-y hidden

h1
h2
h3
h4
h5
h6
	font-weight 500
	